@font-face {
    font-family: 'Playfair Display';
    src: url('/..Fonts/PlayfairDisplay-Black.ttf') format('truetype');
    font-weight: 400;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('../Fonts/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Roboto';
    src: url('../Fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 400 900;
}

@font-face {
    font-family: 'PoppinsMedium';
    src: url('../Fonts/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'PoppinsRegular';
    src: url('../Fonts/Poppins-Regular.ttf') format('truetype');
}

.navbar{
    margin-left: 5rem;
    margin-right: 5rem;
}
.navbar-brand {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
    text-decoration: none;
    color: #111;
    font-family: 'Playfair Display';;
}

.item{
    text-decoration: none;
    color: #25282B;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.link{
    position: relative;
    list-style: none;
    padding: 4px 0;
}

.link::after,
.link::before{
    content: "";
    position: absolute;
    width: 0;
    background: #FDC435;
    transition: all 0.6s ease-in-out;
}

.link::after{
    height: 3px;
    top: 0;
    right: 0;
    transform-origin: right;
}

.link::before{
    height: 2px;
    left: 0;
    bottom: 0;
    transform-origin: left;
}

.link:hover::after,
.link:hover::before{
    width: 100%;
}

.wave-divider {
    width: 100%;

}

.hero-wrapper {
    position: relative;
    background: #FDC435;
    padding-bottom: rem;
}






.back-to-top {
    position: fixed;
    bottom: 24px;
    right: 24px;
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    z-index: 9999;
    transition: opacity 0.25s ease, transform 0.25s ease;
}

.back-to-top:hover {
    transform: translateY(-5px);
}

#title {
    color: #FDC435;
    font-size: 1rem;
}

.headline {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 2rem;
    line-height: 2rem;
    margin: 0;
}

.about {
    font-size: 18px;
    color: #828282;
    line-height: 1.5;
}

.personal-photo {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 50%;
    object-fit: contain;
}



.buttons {
    display: flex;
    gap: 12px;

}



.primary-button,
.secondary-button,
.wide-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 33px;
    width: 115px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

.primary-button {
    background: #FDC435;
    border: none;
    color: #25282B;
}

.secondary-button {
    background: transparent;
    border: 2px solid #25282B;
    color: #25282B;
}

.wide-button {
    background: transparent;
    border: 2px solid #25282B;
    color: #25282B;
    height: 33px;
    width: 150px;
    font-size: 17px;
    border-radius: 24px;
}

.primary-button:hover,
.secondary-button:hover,
.wide-button:hover {
    background: #25282B;
    color: white;

}



#projects {
    padding: 4 rem;
}

#projects h2 {
    text-align: center;
    margin-bottom: 3rem;


}

.underline {
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    text-decoration-color: #FDC435;
}

.project {
    border-radius: 16px;
    overflow: hidden;
    background: white;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    max-height: 350px;
}


.project-image {
    max-height: 35%;
    object-fit:cover;
}


.contact-head {
    text-align: center;
    margin-bottom: 3rem;
    font-family: 'PoppinsMedium';
}

.contact-us {

    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    max-width: 1000px;
    margin: auto;
    margin-bottom: 4rem;
    overflow: hidden;
}

.contact {
    display: flex;
    border-radius: 10px;
    font-family: 'PoppinsMedium';
}


.contact-info {
    background-color: #111;
    
}

.contact-headlines {
    padding: 1rem;
}

.headline-white {
    color: #F9FAFF;
    font-family: 'PoppinsMedium';
}

.about-white {
    color: #C9C9C9;
    font-family: 'PoppinsRegular';   
}



.contact-form {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1.5rem;
    margin: 4rem;
}

.form-fields {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

}

.form-subjects {
    display: flex;
    flex-direction: column;
}

.subject-options {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: .5rem;
}

.subject-option {
    display: flex;
    align-items: center;
    gap: 6px;
    font-family: 'PoppinsRegular';
    font-size: 15px;

}


.form-field label {
    font-size: 14px;
    color: #555;
    margin-bottom: 6px;
    display: block;
    cursor: pointer;
}

.message {
    display: flex;
    flex-direction: column;
    gap: .5rem;

}

.message-content {
    
    font-family: 'PoppinsRegular';
    border: #000 solid 1.5px;
    resize: none;
    min-height: 100px;
    max-height: 300px;
}
.message-content-and-sumbit {
    display: flex;
    flex-direction: column;
    width: 400px;
    
    gap: 0.8rem;
}


.submit-button {
    height: 35px;
    width: 150px;
    border-radius: 5px;
    background-color: #000;
    color: white;
    font-family: 'PoppinsMedium';
    border: none;
    align-self: flex-end;
}

.arrow {
    width: 80px;
    
    right: -15px;
    top: 55px;
    
    pointer-events: none;
}

.submit-button:hover {
    background-color: white;
    color: #000;
    border: 2px solid #000;
    cursor: pointer;
}



.form-field input {
    border: none;
    border-bottom: 1px solid #d3d3d3;
    padding: 6px 2px;
    font-size: 15px;
    width: 100%;
    outline: none;
}

.form-field input:focus {
    border-bottom-color: #000;
}

.form-field input:valid {
    border-bottom-color: #000;
}

input[type="radio"] {
  accent-color: #111; 
}















.footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
background:#111

}

footer p {
    text-align: center;
    color: white;
    font-size: 14px;
}

.contact-icons {
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    flex-direction: row;
    margin-top: 5rem;
}

.icon {
    width: 35px;
    height: 35px;
    display: flex;
    background-color: white;
    border-radius: 50%;
    padding: 1px;

}